
@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaprobold-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaprobold-italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}


@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaproblack-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaproblack-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}


@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaproblack-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaproblack-italic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaprolight-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaprolight-italic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}




@font-face {
	font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaproextralight-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaproextralight-italic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}




@font-face {
	font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiapromedium-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiapromedium-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaprolight-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaprolight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaprosemibold-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaprosemibold-italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
	font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaproregular-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaproregular-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
	font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaprosemibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaprosemibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
	font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaprobold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaprobold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiapromedium-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiapromedium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}


@font-face {
	font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaproregular-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaproregular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/sofia_pro/sofiaproextralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro/sofiaproextralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

