<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/header_on.jpg"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/" class= "{% if page.url == '/' %} current {%endif%} {% if page.url contains 'design' %} current {%endif%}">design</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/art/" class="{% if page.url contains 'art' %} current {%endif%}">art</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/" class="{% if page.url contains 'about' %} current {%endif%}">about</a></li>

    </ul>
  </nav>

</header>
