/**
 * Site header
 */
 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: center;
}

.navbar {
    display: block;

    .nav-item{
        float: middle;

        a {
            color: $color-secondary;
        }
        &:hover {
            font-weight: bold;
            
        }
    }

    margin: auto;
    max-width: 80rem;
    
    ul{
        border-bottom: 1px solid $grey-color-light;
    }
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}


.post-nav{
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    text-align: center;
    padding: 1rem;

    .nav-item{    
        font-weight: bold;
        &:hover {
                font-weight: bold;
        }
    }
    
}

.post-title {
    display: block;
}


/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 3px solid $grey-color-light;
    border-bottom: 3px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border: 1px solid $grey-color-light;
    }
    
    &:hover {
        color: $color-primary;
        img {
                transform: translateY(-0.25em);
                /* 
                box-shadow: 0 1px 8px hsla(0, 0, 0, .2);
                */
            }       
    }
    
    a {
        color: $color-secondary;
    }
    .post-title{
        width: 200px;
        text-align: left;

  
    }
}

.current{
    font-weight: bold;
    color: $color-secondary;
    text-decoration: underline;
}

.post-content{
	
    //padding: 1rem;
    //box-sizing: border-box;
    //display: flex;
    //justify-content: left;
    //align-items: left;
    //flex-direction: column;

	img {
		max-width: auto;
	}
    
}
