/**
 * Site header
 */
 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: center;
}

.navbar {
    display: block;

    .nav-item{
        float: middle;

        &:hover {
            font-weight: bold;
    
        }
    }

    margin: auto;
    max-width: 80rem;
    
    ul{
        border-bottom: 1px solid $grey-color-light;
    }
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}


.post-nav{
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    text-align: center;
    padding: 1rem;

    .nav-item{    
        font-weight: bold;
        &:hover {
                font-weight: bold;
        }
    }
    
}

.post-title {
    display: block;
}


/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 3px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    &:hover {
        border: 1px solid $grey-color-light;
    }

    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .post-title{
        width: auto;
    }
}

.current{
    font-weight: bold;
    color: $color-secondary;
    text-decoration: underline;
}

