---
layout: default
---
<div class="post">
  
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <article class="post-content">
    {{ content }}
  </article>


  <div class="post-nav">
    {% if page.next.url %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; Prev</a>
    {% endif %}
    {% if page.previous.url %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">Next &raquo;</a>
    {% endif %}
  </div>


</div>
